[Unit]
Description=CoreOS: Net TUI Target
ConditionKernelCommandLine=rd.net.tui
AllowIsolate=yes
DefaultDependencies=no

# Make sure we stop all the units before switching root
Conflicts=initrd-switch-root.target umount.target
Conflicts=dracut-emergency.service emergency.service emergency.target
